*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/assets/imagefs.*
app/src/main/assets/proton-*
app/src/main/assets/aecs6.tar.zst
/aecs6/
.kotlin/
*.apk
